.square {
  background: #fff;
  border: 0px solid #999;
  float: left;
  /* font-size: 24px; */
  font-weight: bold;
  /* line-height: 34px; */
  /* height: 48px; */
  /* margin-right: -1px; */
  /* margin-top: -1px; */
  width: 100px;
  height: 100px;
  /* padding: 50px; */
  text-align: center;
  /* width: 48px; */
  /* background-image: url(/images/brown_tile1.PNG); */
  /* background-size: 100px 100px; */
}

.blueSquare {
  background-image: url(/images/blue_tile1.PNG);
  background-size: 100px 100px;
}

.brownSquare {
  background-image: url(/images/brown_tile1.PNG);
  background-size: 100px 100px;
}

img {
  width: 86px;
  height: 86px;
}

@media (max-width: 600px) {
  .square {
    width: 50px;
    height: 50px;
  }
  img {
    max-width: 40px;
    max-height: 40px;
  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 8px;
}

.MidTopContainer {
  text-align: center;
}

.WhoseTurnContainer {
  font-size: 32px;
}

.TimerContainer {
  font-size: 72px;
  padding-bottom: 16px;
}

button {
  border-radius: 0px;
  border: 0;
}

.topRightDiv {
  position: absolute;
  top: 0;
  right: 0;
}
